.chargement {
    border: 10px solid #f3f3f3;
    height: 50px;
    width: 50px;
    border-top: 10px  solid $color-primary;
    border-bottom: 10px  solid $color-secondary;
    border-radius: 50% 0% 50% 0%;
    margin: auto;
    position: absolute;
    -webkit-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  
    @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg); }
        100% {
          -webkit-transform: rotate(360deg); } }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg); }
        100% {
          transform: rotate(360deg); } }
      
      
.spinner{
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    -webkit-animation: spinner 2s linear;
    animation: spinner 2s linear;
    visibility: hidden;
}
@keyframes spinner{
0% {
    visibility: visible;
    opacity: 0.9;
}
70% {
    opacity: 0.9;
}
100% {
}
0% {
    visibility: visible;
    opacity: 0.9;
}
70% {
    opacity: 0.9;
}
100% {
    opacity: 0;
    visibility: hidden;
}

}


    