.localisation {
    @include centrer_element();
    background : #f3f3f3;
    color : #7a7a7a;

    &__city {
        margin-left : 13px;
        font-weight : 400;
    }
}   

.Reserver {
    background  :#fafafa;
    width  :100%;
    &__container {
        width  :100%;
        padding : 20px;
        @include centrer_element();
        flex-direction : column;
        padding : 50px 0;
    }
    &__titre {
        text-align : center;
        margin : auto;
    }
    &__paragraphe {
        text-align :center;
        margin:20px 20px;
    }
    &__boutton {
        @include button-style;
        height :3.6em;
        width :17em;
        font-weight : bold; 
        
        &hover {
            @include boutton-hover;
            cursor: pointer;
        }
    }
}

