
@mixin centrer_element {
    display :flex;
    justify-content: center;
    align-items :center;
}

@mixin boutton-hover {
    opacity:1;
    transition : .6s;
    box-shadow :0px 10px 10px 0px rgba(0,0,0,0.6); 
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color :white;
    padding : 40 20px;
    border-radius :200px;
    box-shadow : 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

@mixin responsive_tablette {
    @media(
        min-width: 500px){
        @content;
    }
    
}
@mixin responsive_Desktop {
    @media(
        min-width: 800px){
        @content;
    }
    
}