@mixin button-hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

@mixin centrer_element {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buton_verte {
    color: #1b6150;
    padding: 7px 10px;
    margin: 0;
}

@mixin responsive_tablette {
    @media (min-width: 500px) {
        @content;
    }
}
@mixin responsive_Desktop {
    @media (min-width: 900px) {
        @content;
    }
}
