body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6; }

* a {
  text-decoration: none;
  color: inherit; }

.Bloc_page {
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
  display: block; }

.chargement {
  border: 10px solid #f3f3f3;
  height: 50px;
  width: 50px;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50% 0% 50% 0%;
  margin: auto;
  position: absolute;
  -webkit-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-animation: spinner 2s linear;
  animation: spinner 2s linear;
  visibility: hidden; }

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9; }
  70% {
    opacity: 0.9; }
  100% { }
  0% {
    visibility: visible;
    opacity: 0.9; }
  70% {
    opacity: 0.9; }
  100% {
    opacity: 0;
    visibility: hidden; } }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6; }

* a {
  text-decoration: none;
  color: white; }

header {
  z-index: 10;
  background: white;
  width: 100%; }
  header .header {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    header .header__arrow-back {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 35px;
      top: 40%;
      font-size: 20px; }
      header .header__arrow-back a {
        color: #000; }
    header .header__logo {
      font-family: 'Shrikhand', cursive;
      margin: 0; }
      header .header__logo a {
        color: #000; }

.img {
  width: 100%;
  height: 50vh; }
  .img__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  margin-top: -55px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6; }
  .menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .menu__header__title {
      font-family: 'Shrikhand', cursive; }
    .menu__header__heart .heart {
      width: 30px;
      stroke-width: 25px;
      stroke: black;
      fill: white;
      cursor: pointer;
      margin-right: 15px; }
    .menu__header__heart .heart-full {
      position: absolute;
      fill: url(#text-fill);
      stroke: none; }
    .menu__header__heart .heart-empty {
      position: relative; }
      .menu__header__heart .heart-empty:hover {
        opacity: 0;
        transition: 0.5s; }
  .menu__grid {
    display: grid;
    grid-gap: 40px; }
    .menu__grid__bloc {
      display: grid;
      grid-gap: 15px; }
    .menu__grid__title h3 {
      position: relative;
      font-weight: 400;
      text-transform: uppercase; }
      .menu__grid__title h3::after {
        content: '';
        width: 50px;
        height: 4px;
        background: #99e2d0;
        position: absolute;
        z-index: 20;
        left: 0px;
        bottom: -8px; }
    .menu__grid__case {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1); }
      .menu__grid__case:hover .validation__box {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide-left 0.5s ease;
        transform-origin: right; }
      .menu__grid__case:hover .menu__case__price {
        padding-right: 70px;
        transition: 0.5s ease; }
      .menu__grid__case .validation__box {
        display: none;
        position: absolute;
        background: #99E2D0;
        border-radius: 0 15px 15px 0;
        right: 0px;
        padding: 0 13px;
        height: 100%; }
        .menu__grid__case .validation__box i {
          font-size: 20px;
          color: white;
          transform: rotate(180deg);
          animation: rotate 0.5s both; }
  .menu__case__dish {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden; }
    .menu__case__dish p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden; }
    .menu__case__dish-title {
      font-weight: bold; }
  .menu__case__price {
    padding-right: 20px;
    font-weight: bold;
    padding-left: 7px; }
  .menu__contain-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .menu__button {
    opacity: 1;
    background: linear-gradient(180deg, #f70c90db 0%, #9b51f3 100%);
    color: white;
    padding: 40 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    margin: 50px 0;
    font-size: 18px; }
    .menu__button:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: .3s;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6); }

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes slide-left {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(-50px); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.appears-with-opacity {
  animation: opacity 1s both; }

#case-1 {
  animation-delay: 0.1s; }

#case-2 {
  animation-delay: 0.2s; }

#case-3 {
  animation-delay: 0.3s; }

#case-4 {
  animation-delay: 0.4s; }

#case-5 {
  animation-delay: 0.5s; }

#case-6 {
  animation-delay: 0.6s; }

#case-7 {
  animation-delay: 0.7s; }

#case-8 {
  animation-delay: 0.8s; }

#case-9 {
  animation-delay: 0.9s; }

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__bloc {
    padding: 0 40px;
    width: 100%;
    max-width: 1200px; }
    .footer__bloc .logo {
      font-family: 'Shrikhand', cursive;
      color: white;
      font-size: 20px;
      padding: 15px 0; }
    .footer__bloc-links {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .footer__bloc-link {
      display: flex;
      align-items: center;
      display: flex;
      flex-direction: row;
      text-align: center;
      color: white;
      height: 30px;
      cursor: pointer; }
      .footer__bloc-link:hover .footer__bloc-link__title {
        text-decoration: underline; }
      .footer__bloc-link i {
        margin-right: 7px; }
      .footer__bloc-link__title {
        font-size: 16px;
        font-weight: 400; }

@media screen and (min-width: 1100px) {
  .menu {
    margin-top: -60px; }
  .menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
  .img__image {
    margin-top: 0; }
  .footer__bloc {
    margin-bottom: 15px; }
    .footer__bloc-links {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      max-width: 900px; } }

/*.Reserver__boutton {
    opacity: 1;
    background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
    color: white;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: 3.6em;
    min-width: 10em;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.Reserver__boutton :hover {
    @include boutton-hover;
    cursor: pointer;
}*/
.le__boutton {
  display: block;
  margin: auto;
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 17px 25px;
  font-size: 18px;
  border: none;
  width: max-content; }

.le__boutton:hover {
  opacity: 1;
  transition: 2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%; }
  @media (min-width: 900px) {
    .header {
      height: 80px; } }
  .header .header__logo {
    font-family: 'Shrikhand', cursive;
    margin: 0;
    color: black;
    display: block;
    max-width: 50%; }

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E7E7E7;
  color: black;
  width: 100%;
  height: 60px; }
  .localisation__city {
    margin-left: 13px;
    font-weight: 300; }

.Reserver {
  background: #fafafa;
  width: 100%; }
  .Reserver__container {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f2f2; }
  .Reserver__titre {
    text-align: center;
    margin: auto 35px;
    font-size: 30px; }
  .Reserver__paragraphe {
    text-align: center;
    margin: 20px 20px 36px 20px;
    font-size: 18px; }

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footer__bloc {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px; }
    .footer .footer__bloc .logo {
      font-family: 'Shrikhand', cursive;
      color: white;
      font-size: 20px;
      padding: 15px 0; }
    .footer .footer__bloc-links {
      display: inline-flex;
      flex-direction: column;
      width: auto; }
      @media (min-width: 500px) {
        .footer .footer__bloc-links {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          max-width: 900px;
          margin: auto; } }
    .footer .footer__bloc-link {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      text-align: center;
      color: white;
      height: 30px;
      cursor: pointer; }
      .footer .footer__bloc-linkhover .footer__bloc-link__titre {
        text-decoration: underline; }
      .footer .footer__bloc-link i {
        margin-right: 7px; }
      .footer .footer__bloc-link__titre {
        font-size: 16px;
        font-weight: 400;
        margin: 6px; }

#footer__bloc-link__titres {
  margin-left: 12px; }

.Bloc_Menu__contenaire {
  width: 100%;
  background: white;
  max-width: 600px;
  padding: 34px 0 58px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 900px) {
    .Bloc_Menu__contenaire {
      flex: 1; } }

.Bloc_Menu {
  width: 95%;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .Bloc_Menu__titre {
    margin: 26px 0px 26px 10px; }
  .Bloc_Menu__Bloc2 {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    padding: 20px 0; }
  .Bloc_Menu__nombre {
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 1px 6px 1px 6px;
    border-radius: 500px;
    transform: translateX(-51%); }
  .Bloc_Menu__icon {
    color: #7E7E7E;
    margin: 0 18px 0 27px; }
  .Bloc_Menu__Bloc1 {
    display: flex;
    justify-content: center;
    flex-direction: column; }

#Bloc_Menu__Bloc {
  background: linear-gradient(180deg, #f6f6f6 0%, #d9a0cfad 100%); }

#Bloc_Menu__icon {
  color: #9356DC; }

.restaurants {
  background: #f6f6f6;
  padding: 20px;
  margin: 9px 0; }
  @media (min-width: 900px) {
    .restaurants {
      flex: 3;
      margin: 0; } }

.restaurant__carte {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px; }
  @media (min-width: 900px) {
    .restaurant__carte {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr); } }

.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
  .restaurant__card-nouveau {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #99e2d0;
    top: 20px;
    right: 20px;
    border-radius: 3px; }
    .restaurant__card-nouveau p {
      color: #1b6150;
      padding: 7px 10px;
      margin: 0; }
  .restaurant__card-image {
    width: 100%;
    height: 190px; }
    .restaurant__card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0; }

.restaurant__block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 63px;
  justify-content: space-between;
  background-color: white; }
  .restaurant__block-info {
    color: black;
    margin-left: 20px; }
    .restaurant__block-info :first-child {
      font-weight: 700;
      margin-bottom: 7px; }

.restaurant__block-name {
  font-weight: initial; }

@media (min-width: 600px) {
  .le__tout {
    margin: 0 auto;
    width: 600px; } }

@media (min-width: 900px) {
  .le__tout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; } }
